USE [master]
GO
/****** Object:  Database [Ecommerce]    Script Date: 11/6/2020 8:56:11 PM ******/
CREATE DATABASE [Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.THANHTUAN\MSSQL\DATA\Ecommerce.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ecommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.THANHTUAN\MSSQL\DATA\Ecommerce_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nchar](10) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Address] [nchar](100) NOT NULL,
	[Country] [nchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NULL,
	[Status] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProDetailsID] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product Details]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product Details](
	[ProDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](max) NOT NULL,
	[Price] [money] NOT NULL,
	[UnitsInStock] [int] NOT NULL,
	[Manufacturer] [varchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/6/2020 8:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Điện Thoại - Máy Tính Bảng')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Điện Tử - Điện Lạnh')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Phụ Kiện - Thiết Bị Số')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [FullName], [Email], [PhoneNumber], [Message], [Status]) VALUES (1, N'aaaaaa', N'a@gamil.cm', N'42342343  ', N'fsd', 0)
INSERT [dbo].[Contact] ([ContactID], [FullName], [Email], [PhoneNumber], [Message], [Status]) VALUES (2, N'Bui Thanh Tuan', N'buithanhtuan@gmail.com', N'0123456789', N'Hello', NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [Address], [Country]) VALUES (1, 1, CAST(N'2020-12-31' AS Date), N'12321                                                                                               ', NULL)
INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [Address], [Country]) VALUES (2, 2, CAST(N'2020-12-31' AS Date), N'123456                                                                                              ', N'                                                  ')
INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [Address], [Country]) VALUES (3, 2, CAST(N'2020-12-31' AS Date), N'123456                                                                                              ', N'                                                  ')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [UnitPrice], [Quantity], [Discount], [Status], [OrderID], [ProDetailsID]) VALUES (1, 10000.0000, 3, 0, 1, 2, 5)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [UnitPrice], [Quantity], [Discount], [Status], [OrderID], [ProDetailsID]) VALUES (2, 10000.0000, 3, 0, 1, 2, 5)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [UnitPrice], [Quantity], [Discount], [Status], [OrderID], [ProDetailsID]) VALUES (3, 10000.0000, 3, 0, 1, 6, 5)
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product Details] ON 

INSERT [dbo].[Product Details] ([ProDetailsID], [ProName], [Price], [UnitsInStock], [Manufacturer], [Image], [ProductID]) VALUES (1, N'Điện Thoại Samsung Galaxy Note 10 Lite (128GB/8GB)', 7999000.0000, 0, N'Samsung', N'salt.tikicdn.com/cache/w390/ts/product/47/81/d5/745995b000633ae0b1769e1573df3b52.jpg', 1)
INSERT [dbo].[Product Details] ([ProDetailsID], [ProName], [Price], [UnitsInStock], [Manufacturer], [Image], [ProductID]) VALUES (2, N'Điện Thoại Samsung Galaxy A11 (32GB/3GB)', 3190000.0000, 36, N'Samsung', N'salt.tikicdn.com/cache/w390/ts/product/98/b8/89/c078436f8c04567119078c0e7adfc255.jpg', 1)
INSERT [dbo].[Product Details] ([ProDetailsID], [ProName], [Price], [UnitsInStock], [Manufacturer], [Image], [ProductID]) VALUES (3, N'Điện Thoại Samsung Galaxy A51 (128Gb/6GB)', 6945000.0000, 22, N'Samsung', N'salt.tikicdn.com/cache/w390/ts/product/9a/da/fd/df602d5f38686bc6e99a121ac879918a.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[Product Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID]) VALUES (1, N'Điện Thoại SmartPhone', 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID]) VALUES (2, N'Máy Tính Bảng', 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID]) VALUES (3, N'Máy Đọc Sách', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [PhoneNumber], [Address], [RoleID]) VALUES (1, N'admin', N'$2a$10$TRsBNLohQEYyX4ajRQw.xOseGpQZXaT5mNgkdZLoiIyz8dh48h54K', N'admin', N'0', N'sài gòn', 0)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [PhoneNumber], [Address], [RoleID]) VALUES (2, N'test', N'$2a$10$Bwe2wutTVzb8AFOQBAOsJuhJHdfpccU0O.RAA8oNw4oF10WX9VjKe', N'Đỗ Thiên Phước', N'0353491349', N'tổ 51 khu vực 3', 1)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [PhoneNumber], [Address], [RoleID]) VALUES (19, N'phuoc', N'string', N'string', N'string', N't? 51 khu v?c 6', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 11/6/2020 8:56:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhoneNumber]    Script Date: 11/6/2020 8:56:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PhoneNumber] ON [dbo].[Users]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product Details] FOREIGN KEY([ProDetailsID])
REFERENCES [dbo].[Product Details] ([ProDetailsID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product Details]
GO
ALTER TABLE [dbo].[Product Details]  WITH CHECK ADD  CONSTRAINT [FK_Product Details_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Product Details] CHECK CONSTRAINT [FK_Product Details_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
USE [master]
GO
