<div class="account-edit">
    <form class="form" [formGroup]="formEditPw" (ngSubmit)="EditPw()">
        <div class="form-item">
            <div class="form-item-left">
                <label for="oldPassWord">Mật khẩu cũ</label>
            </div>
            <div class="form-item-right">
                <input name="oldPassWord" formControlName="oldPassWord" type="password"
                    [ngClass]="{ 'is-invalid': submittedPw && fPw.oldPassWord.errors }">
                <div *ngIf="submittedPw && fPw.oldPassWord.errors" class="invalid-feedback">
                    <div *ngIf="fPw.oldPassWord.errors.required">Mật khẩu không được để trống</div>
                    <div *ngIf="fPw.oldPassWord.errors.minlength">Mật khẩu phải dài hơn 6 kí tự</div>
                    <div *ngIf="fPw.oldPassWord.errors.maxlength">Mật khẩu không được để trống</div>
                </div>
            </div>
        </div>
        <div class="form-item">
            <div class="form-item-left">
                <label for="newPassWord">Mật khẩu mới</label>
            </div>
            <div class="form-item-right">
                <input name="newPassWord" formControlName="newPassWord" type="password"
                    [ngClass]="{ 'is-invalid': submittedPw && fPw.newPassWord.errors }">
                <div *ngIf="submittedPw && fPw.newPassWord.errors" class="invalid-feedback">
                    <div *ngIf="fPw.newPassWord.errors.required">Mật khẩu không được để trống</div>
                    <div *ngIf="fPw.newPassWord.errors.minlength">Mật khẩu phải dài hơn 6 kí tự</div>
                    <div *ngIf="fPw.newPassWord.errors.maxlength">Mật khẩu không được để trống</div>
                </div>
            </div>

        </div>
        <div class="form-item">
            <div class="form-item-left">
                <label for="rePassWord">Nhập lại</label>

            </div>
            <div class="form-item-right">
                <input name="rePassWord" formControlName="rePassWord" type="password"
                    [ngClass]="{ 'is-invalid': submittedPw && fPw.rePassWord.errors }">
                <div *ngIf="submittedPw && fPw.rePassWord.errors" class="invalid-feedback">
                    <div *ngIf="fPw.rePassWord.errors.required">Mật khẩu không được để trống</div>
                    <div *ngIf="fPw.rePassWord.errors.minlength">Mật khẩu phải dài hơn 6 kí tự</div>
                    <div *ngIf="fPw.rePassWord.errors.maxlength">Mật khẩu không được để trống</div>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="input-label">&nbsp;</label>
            <button type="submit" class="btn-submit">
                Cập nhật
            </button>
        </div>
    </form>
</div>